<div class="mb-3">
  <select id="currencyPicker" class="form-select" aria-label="Default select example" style="margin-bottom: 20px">
    <option selected disabled hidden>Choose Your Seat Number</option>
    <ng-container *ngFor="let seatNumber of trip?.availableSeats" >
      <option [value]="seatNumber" (click)="onSelectSeatNumber(seatNumber)">{{seatNumber}}</option>
    </ng-container>
  </select>
</div>
<div class="mb-3">
  <label class="form-label">Client Name</label>
  <input class="form-control" type="text" placeholder="ClientName" aria-label="default input example" [(ngModel)]="clientName">
</div>
<div class="mb-3">
  <label class="form-label">Client Address</label>
  <input class="form-control" type="text" placeholder="ClientAddress" aria-label="default input example" [(ngModel)]="clientAddress">
</div>

<button type="button" class="btn btn-primary" (click)="makeReservation()" style="margin-bottom: 20px">Make Your Reservation</button>

<div class="card" *ngIf="reservation">
  <div class="card-body">
    <b>Your reservation was successfull</b><br>
    Seat Number: {{reservation.seatNumber}}<br>
    Client Name: {{reservation.clientName}}<br>
    Client Address: {{reservation.clientAddress}}<br>
    Route: {{getTripString(reservation.trip)}}<br>
  </div>
</div>
